* {
  /* font-family: Century Schoolbook, Noto Serif TC; */
  font-family: Inter, Noto Serif TC;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
#header {
  height: 60px;
  position: fixed;
  z-index: 6;
  background-color: #9b5656;
  /* background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%); */
}
#header .header_logo {
  justify-self: center !important;
}
#header .header_item {
  width: 20%;
}

#header .header_item .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#header .nav-link,
.navbar-brand {
  /* 改變顏色 */
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
#header .navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  font-family: Century Schoolbook;
}

#header .nav-link:hover {
  color: goldenrod !important;
}

/* navbar 線條效果 start */
#header ul.navbar-nav li::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  margin: -4px auto;
  background-color: goldenrod;
  transition: width 0.3s;
}

#header ul.navbar-nav li:hover::after {
  width: 3rem;
}

/* navbar 線條效果 end */

/* 右邊彈出 show menu start*/
#show_menu {
  position: fixed;
  height: 100vh;
  display: none;
  /* display: flex; */
  z-index: 5;
}

.show_menu {
  display: flex !important;
  backdrop-filter: blur(0px);
  animation-name: ani_showmenu;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.show_menu_back {
  display: flex !important;
  backdrop-filter: blur(10px);
  animation-name: ani_showmenu_back;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#show_menu_right {
  margin-left: 100%;
  transition: all 1s;
}

.show_menu_right {
  margin-left: 0%;
  animation-name: ani_showmenu_right !important;
  animation-duration: 0.6s !important;
  animation-fill-mode: forwards !important;
}

.show_menu_right_back {
  margin-left: 100%;
  animation-name: ani_showmenu_right_back !important;
  animation-duration: 0.8s !important;
  animation-fill-mode: forwards !important;
}

/* 右邊彈出 show menu end*/

/* show menu 中的 navbar */
.show_menu_nav {
  position: relative;
  top: 84px;
  width: 100%;
  display: none;
}

.show_menu_nav ul li {
  margin-bottom: 10px;
}

.show_menu_nav ul li:last-child {
  margin-bottom: 0;
}

.show_menu_nav ul li:hover {
  color: #f2f2f2;
  font-weight: 600;
}

/* show_menu_nav 線條效果 start */
.show_menu_nav ul li::after {
  content: "";
  display: block;
  width: 0%;
  margin: auto;
  background-color: #f2f2f2;
  transition: all 0.5s;
}

/* show_menu_nav 線條效果 end */

.show_menu_nav ul li a {
  padding: 0;
  --height_link: 50px;
  height: var(--height_link);
  line-height: var(--height_link);
  font-size: 1.4rem;
  text-align: center;
  border-bottom: 1px solid black;
}

/*  */
.test {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}

/* ---------------------可通用--------------------- */
.show_block,
.active {
  display: block;
}

.show_none {
  display: none !important;
}

/* ---------------------animation------------------ */

@keyframes ani_showmenu {
  0% {
    backdrop-filter: blur(0px);
  }

  100% {
    backdrop-filter: blur(10px);
  }
}

@keyframes ani_showmenu_back {
  0% {
    backdrop-filter: blur(10px);
  }

  100% {
    backdrop-filter: blur(0px);
  }
}

@keyframes ani_showmenu_right {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: 0%;
  }
}

@keyframes ani_showmenu_right_back {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: 100%;
  }
}

/* ------------------------------------------------ */
@media (max-width: 992px) {
  .navbar .container-fluid {
    flex-direction: column;
  }

  .header_logo {
    order: -1;
  }

  .show_menu_nav ul li a {
    font-size: 1rem;
  }
}

/* .show_menu_nav ul li:nth-child(2) {
          background-color: black;
        } */
/*  */
#main {
  padding: 84px 0 0 0;
}
/*  */

#sidebar {
  width: 15%;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 84px;
}
#sidebar .photo {
  width: 180px;
  height: 180px;
  margin: 0 0 25px 0;
  background-color: #9b5656;
  border-radius: 50%;
}
#sidebar .photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#sidebar .link {
  width: fit-content;
  height: 200px;
  /* margin: 0; */
}
#sidebar .link ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#sidebar .link a {
  width: fit-content;
  font-size: 1.2rem;
  /* border: #9b5656 1px solid; */
  border-radius: 30px;
  padding: 5px 12px 0px 12px;
}

#sidebar .link img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* 上方分類按鈕的區塊設定 */
#item {
  width: 85%;
  height: calc(100% - 60px);
  position: absolute;
  top: 60px;
  left: 15%;
  background-color: transparent;
  margin: 0;
}

#item #classes {
  height: 94px;
  padding: 24px 50px 0 50px;
}
/* #item {
  background-color: #ece8e8;
  margin-left: 200px; 
} */
/* #item #classes {
  height: 70px;
} */
#item .class_item {
  height: fit-content;
}
#item .class_item a {
  background-color: whitesmoke;
  padding: 10px 15px;
  border-radius: 20px;
}
#item .class_item a:hover {
  background-color: black;
  color: white;
}
#item .class_item a:focus {
  background-color: black;
  color: white;
}

/* title的區塊設定 */
#item .main_item .title {
  height: 60px;
  position: relative;
}
#item .main_item .title .title_item {
  font-size: 1.5rem;
  /* background-color: #8d5e5e; */
  width: fit-content;
  position: absolute;
  bottom: 0;
  left: 6%;
}
#item .main_item .title .title_item .t_sub {
  position: relative;
  right: 5px;
  bottom: 1rem;
  font-size: 1rem;
}
/*  */
#item .main_item .show {
  /* border-bottom: 1px solid green; */
  background-color: white;
}
/* #show_clothing 區塊相關設定 */
#item #show_clothing .main_item .show .show_item {
  height: 200px;
}
/* #show_onsale 區塊相關設定 */
#item #show_onsale .main_item .show .show_item {
  border-radius: 20px;
  height: 350px;
}
#item #show_onsale .main_item .show .show_item .pic img {
  border-radius: 20px;
}
/* #show_look 區塊相關設定 */
#item #show_look .look {
  height: 90%;
}
#item #show_look .text {
  height: 10%;
  /* background-color: #9b5656; */
  /* align-items: center; */
}

#item #show_look .main_item .show .show_item {
  width: 48%;
  height: 600px;
  border-radius: 40px;
}

#item #show_look .show .look_pic img,
#item #show_look .show .look_pic_cover {
  border-radius: 40px;
}

#item #show_look .show .look_pic_cover {
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#item #show_look .show .look_pic_cover .edit_icon {
  width: 50px;
  height: 50px;
  background-color: #2a878f;
  border-radius: 50%;
}
#item #show_look .show .look_pic_cover:hover {
  background-color: rgba(172, 186, 187, 0.25);
}

#item #show_look .show .look_item_block {
  height: calc(100% / 3);
  /* background-color: #9b5656; */
  padding: 5px 10px;
}

#item #show_look .show .share_icon {
  width: 30px;
  height: 30px;
}
/* 右下角按鈕設定 */
#item #btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
#item #btn .btn_item {
  margin: 10px;
  width: 40px;
  height: 40px;
  background-color: #cccccc;
  border-radius: 50%;
  transition: all 0.5s;
}
#item #btn .btn_item:hover {
  background-color: #9b5656;
}
#item #btn .btn_item img {
  transform: translateY(-2px);
}
